<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IAsyncTask" />
            </wsDualHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IServiceTask" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10000/Task/endpoint1" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IServiceTask" contract="TaskRef.IServiceTask"
                name="WSHttpBinding_IServiceTask">
                <identity>
                    <userPrincipalName value="LENOVO320S\volodymyr" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:10000/AsyncTask/endpoint2"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAsyncTask"
                contract="TaskRef.IAsyncTask" name="WSDualHttpBinding_IAsyncTask">
                <identity>
                    <userPrincipalName value="LENOVO320S\volodymyr" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>