.btn {
    display: block;
    padding: 15px;
    background-color: $primary;

    border-radius: 6px;
    border: none;
    cursor: pointer;

    outline: none;

    &:hover {
        background: lighten($color: $primary, $amount: 3);
    }
}