.container {
    width: 1000px;
    margin: 0 auto;
}

@media screen and (min-width: 700px) {
    .container {
        width: 500px;
    }
}

@media screen and (min-width: 900px) {
    .container {
        width: 700px;
    }
}


@media screen and (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}