extends index

block content
    h3(class="display-4 mb-5") Popular products
    div(class="row")
        each product in products
            div(class="col-3 mb-4")
                div(class="card")
                    img(class="card-img-top" alt="" src=product.images[0])
                    div(class="card-body")
                        a(href="/p/"+product._id class="card-text m-0")= product.title
                        h5(class="card-title")= product.price + '$'
        else
            h5 There is no any product yet
