block footer
    footer(class="container")
        hr
        div(class="d-flex")
            a(href="/" class="font-weight-bold") E-com
            p(class="ml-auto") &copy; 2020
    script(src='/js/jquery-3.5.1.min.js')
    script(src='/js/bootstrap.bundle.min.js')
