.content {
    display: flex;
    flex-grow: 1;

    & > .aside {
        min-width: 250px;
        background: #ddd;
        padding: 15px;
        background: map-get($map: $colors, $key: 'isabelline');
        
        ul {
            & > li {
                padding: 10px;
                & > a {
                    color: map-get($map: $colors, $key: 'raisin-black');
                    margin-left: 10px;
                    text-decoration: none;
                }
            }
        }
    }

    & > main {
        flex-grow: 1;
    }
}